// // // // // // // // // // //
// // // // Startups // // // //
// // // // // // // // // // //

hotkey-overlay {
    skip-at-startup
}
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "swww-daemon"
spawn-at-startup " wl-paste --type image --watch cliphist store"
spawn-at-startup " wl-paste --type text --watch cliphist store"
spawn-at-startup "~/.config/hypr/scripts/waybar-light-controls/hyprsunset_init.sh"